@import "../vars/typography/letterSpacing"
@import "../vars/typography/sizing"
@import "../vars/typography/transform"
@import "../vars/typography/typeface"
@import "../vars/typography/weight"

@mixin headline-1()
  font-family: $font-family-base
  font-weight: $fw-base
  font-size: $font-6xl
  text-transform: $none
  letter-spacing: $letterSpacing-1

@mixin headline-2()
  font-family: $font-family-base
  font-weight: $fw-base
  font-size: $font-5xl
  text-transform: $none
  letter-spacing: $letterSpacing-2

@mixin headline-3()
  font-family: $font-family-base
  font-weight: $fw-base
  font-size: $font-4xl
  text-transform: $none
  letter-spacing: $letterSpacing-3

@mixin headline-4()
  font-family: $font-family-base
  font-weight: $fw-base
  font-size: $font-3xl
  text-transform: $none
  letter-spacing: $letterSpacing-8

@mixin headline-5()
  font-family: $font-family-base
  font-weight: $fw-base
  font-size: $font-2xl
  text-transform: $none
  letter-spacing: $letterSpacing-3

@mixin headline-6()
  font-family: $font-family-base
  font-weight: $fw-bold
  font-size: $font-xl
  text-transform: $none
  letter-spacing: $letterSpacing-7

@mixin subtitle-1()
  font-family: $font-family-base
  font-weight: $fw-base
  font-size: $font-lg
  text-transform: $none
  letter-spacing: $letterSpacing-7

@mixin subtitle-2()
  font-family: $font-family-base
  font-weight: $fw-bold
  font-size: $font-base
  text-transform: $none
  letter-spacing: $letterSpacing-4

@mixin body-1()
  font-family: $font-family-base
  font-weight: $fw-base
  font-size: $font-lg
  text-transform: $none
  letter-spacing: $letterSpacing-6

@mixin body-2()
  font-family: $font-family-base
  font-weight: $fw-base
  font-size: $font-base
  text-transform: $none
  letter-spacing: $letterSpacing-8

@mixin button()
  font-family: $font-family-base
  font-weight: $fw-bold
  font-size: $font-base
  text-transform: $uppercase
  letter-spacing: $letterSpacing-10

@mixin caption()
  font-family: $font-family-base
  font-weight: $fw-base
  font-size: $font-sm
  text-transform: $none
  letter-spacing: $letterSpacing-5

@mixin overline()
  font-family: $font-family-base
  font-weight: $fw-base
  font-size: $font-xs
  text-transform: $uppercase
  letter-spacing: $letterSpacing-9
