/*--- Letter Spacing ---*/

$letterSpacing-1 : -1.5px
$letterSpacing-2 : -0.5px
$letterSpacing-3 : 0
$letterSpacing-4 : 0.1
$letterSpacing-5 : 0.4px
$letterSpacing-6 : 0.5px
$letterSpacing-7 : 0.15px
$letterSpacing-8 : 0.25px
$letterSpacing-9 : 1.5px
$letterSpacing-10: 1.25px
