/*--- sizing ---*/

$font-xs   : 10px
$font-sm   : 12px
$font-base : 14px
$font-lg   : 16px
$font-xl   : 20px
$font-2xl  : 24px
$font-3xl  : 34px
$font-4xl  : 48px
$font-5xl  : 60px
$font-6xl  : 96px
