$strong-cyan          : #26C0AB
$very-dark-cyan       : #00494D
$dark-grayish-cyan    : #5E7A7D
$dark-grayish-cyan-2  : #7F9C9F
$light-grayish-cyan   : #C5E4E7
$light-grayish-cyan-2 : #F4FAFA
$white                : #FFFFFF
